
group build
    storage: none
    source https://api.nuget.org/v3/index.json
    git https://github.com/humhei/AddIn_Package_Updated.git
    nuget ExcelDna.Registration.FSharp
    github Ravadre/NLog.FSharp:6aa72d799b792cc7db247f7925eeb6371b17f8ba  NLog.FSharp/Logger.fs